.form {
    @apply h-full flex flex-col gap-4 p-5;
}

.select {
    @apply flex flex-col gap-2;
}

.imgList {
    @apply p-4;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    min-height: 120px;
}

.error {
    font-size: 12px;
    color: red;
}

.inputError {
    border-color: red;
}

.selectImg {
    @apply relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.selectImg:hover .remove {
    opacity: 1;
}

.remove {
    @apply flex justify-center items-center w-full h-full absolute top-0 left-0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;

    svg {
        cursor: pointer;
        color: rgb(229, 229, 229);
    }
}
