.form {
    @apply w-full flex flex-col gap-3 p-6;
}

.login {
    @apply w-full;
}

.google {
    @apply w-full;
}

.signup {
    @apply w-full bg-transparent text-black;

    &:hover {
        @apply bg-slate-200;
    }
}

.error {
    font-size: 12px;
    color: red;
}

.inputError {
    border-color: red;
}

.success {
    @apply flex flex-col gap-3 p-5;
    text-align: center;
    padding: 50px;

    h1 {
        @apply flex gap-2 items-center justify-center;
        font-size: 30px;
        font-weight: bold;
        padding-top: 50px;
    }

    svg {
        width: 30px;
        height: 30px;
    }
}

.title {
    padding: 30px 0;
    color: #666666;
}
