.container {
    @apply relative;
}

.count {
    @apply absolute w-4 h-4 flex items-end justify-center top-0 right-0 bg-[#795f57] text-center;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    transform: translate(45%, -45%);
    font-family: 'Nanum Gothic', system-ui;
}
