.nav {
    @apply flex gap-2;
}

.paymentList {
    @apply space-y-2 text-gray-700;
    font-size: 13px;
}

.paymentAmountItem {
    @apply flex justify-between;
}

.line {
    height: 1px;
    background-color: #8a8a8a1a;
}

.space {
    @apply h-36;
}

.footer {
    @apply w-full flex gap-3 p-3 fixed bottom-0;
    background-color: white;
    border-top: 1px solid #8a8a8a1a;

    @media all and (min-width: 1024px) {
        width: 600px;
    }
}
