.layout {
    @apply w-full flex flex-col relative;
    margin: 0 auto;

    @media all and (min-width: 1024px) {
        width: 600px;
    }
}

.layout::after,
.layout::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: #8a8a8a1a;
}

.layout::after {
    right: 50%;
    transform: translate(300px);
}

.layout::before {
    left: 50%;
    transform: translate(-300px);
}

@media all and (max-width: 1024px) {
    .layout::after,
    .layout::before {
        display: none;
    }
}
