.layout {
    @apply w-full h-full flex flex-col gap-2;
    margin: 0 auto;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;

    @media all and (min-width: 1024px) {
        width: 600px;
    }
}

.header {
    @apply w-full fixed p-3 flex flex-col gap-2;
    background-color: rgb(242, 242, 242);
    font-weight: bold;

    svg {
        cursor: pointer;
    }

    @media all and (min-width: 1024px) {
        width: 599px;
    }
}

.space {
    @apply h-24;
}

.headerNav {
    @apply flex justify-between;
}

.search {
    @apply flex items-center gap-3;
}

.footerNav {
    @apply w-full p-3 fixed bottom-0 flex justify-around;
    background-color: rgb(242, 242, 242);

    svg {
        cursor: pointer;
        color: #7d7d7d;
    }

    @media all and (min-width: 1024px) {
        width: 600px;
    }
}
