.header {
    @apply p-3 flex gap-2;
    background-color: rgb(242, 242, 242);
    font-weight: bold;

    svg {
        cursor: pointer;
    }
}

.layout {
    @apply h-full flex flex-col gap-2;
    width: 600px;
    margin: 0 auto;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
