.header {
    @apply w-full fixed p-4 flex flex-col gap-2 z-10 text-white;
    background-color: #4e3b31;
    font-weight: bold;

    svg {
        cursor: pointer;
    }

    @media all and (min-width: 1024px) {
        width: 600px;
    }
}
