.header {
    @apply w-full absolute p-4 flex flex-col gap-2 z-10;
    background-color: transparent;
    font-weight: bold;
    color: #795f57;

    @media all and (min-width: 1024px) {
        width: 600px;
    }
}

.header svg {
    cursor: pointer;
}

.scrolled {
    @apply fixed top-0 shadow-md bg-white;
}
